.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: -50px;
  }

  .description {
    text-align: center;
    margin-top: 100px;
  }
  
  
  